h1{
  color:white;
  margin-left:25%;
}
form{
  background-color: white;
  width: 50%;
  margin-left: 25%;
  padding: 30px 0px 30px;
}

form div{
  border-bottom: 1px solid rgb(223, 223, 223);
  height: 50px;
  padding: 18px 40px 0px;
}

form div input, form div textarea, form select{
  float: right;
  width:70%;
  height: 25px;
  border: 1.5px solid rgb(223, 223, 223);
  outline-color: rgb(89, 89, 236);
  padding: 0px 10px;
  border-radius: 3px;
}

form div textarea{
  height: 70px;
  width: 70.2%;
  padding-top: 5px;
  border: 1.5px solid rgb(223, 223, 223);
  resize: none;
}

form div select{
  width: 74%;
  height: 29px;
  border: 1px solid rgb(223, 223, 223);
}

label{
  font-size: small;
}

#textarea-content{
  height: 95px;
}

#submit-btn{
  margin: 35px 0px 0px 40px;
  height: 30px;
  width: 20%;
  background-color: rgb(0, 0, 255);
  color: white;
  border-radius: 5px;
  border-color: rgb(0, 0, 255);
} 

form span{
  font-size: 10px;
  color: red
}